.features{
    margin: 20rem 0;
    grid-column: center-start / center-end;
    display: grid;
    //grid-template-columns: repeat(3,1fr);
    grid-template-columns: repeat(auto-fit,minmax(30rem,min-content));
    grid-gap: 1rem;
    justify-content: center;
    @media screen and(max-width:$bp-large){
        margin:13rem  0;
     } 
     @media screen and(max-width:$bp-small){
        grid-column: 1 / -1;
       
       
     }
   
    
   
}
.feature{
    display: grid;
    grid-template-columns:min-content 1fr;
    grid-row-gap: 1.6rem;
    grid-column-gap: 2rem;
    align-content: start;

    @media screen and(max-width:$bp-small){
        grid-row-gap: 3rem;
       
     }
   
   

    &__icon{
        height: 4rem;
        width: 4rem;
        grid-row: 1 / span 2;
        fill: $color-primary;
        margin-top: -1.8rem;
        

    }

    &__text{
        font-size: 1.6rem;
        
        line-height: 1.7;
        font-family: $font-primary;

    }
}