.footer{
    background-color:$color-secondary;
    grid-column: full-start / full-end;
    padding: 4rem;
    
}
.list{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-column-gap: 2rem;
    justify-items: center;
    padding: 2rem 1rem;
    

    &__link:link,
    &__link:visited
    {
        color: #fff;
        font-size: 1.5rem;
        text-decoration: none;

    }
}
.copywrite{
    font-size: 1.4rem;
    color: #fff;
    text-align: center;
   
   
}