.homes{

    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 7rem;
    margin-top: 2rem;
    padding: 1rem .5rem;
    @media screen and(max-width:$bp-small){
       padding: 5px 3px;
       grid-column: 1 / -1;
       grid-row-gap: 3rem;
       
        
    }
    
}
.home{
    background-color: $color-grey-light-1;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 3.5rem;
   

    &__img{
        width: 100%;
        grid-column: 1/-1;
        z-index: 1;
        grid-row: 1 / 2;
       
       
       
       
    }
    &__like{
        
            height: 3rem;
            width: 3rem;
            fill:royalblue;
            grid-column: 2 /3;
            grid-row: 1 / 2;
            z-index: 2;
            justify-self: end;
            margin: 1rem;
        
        
    }
    &__name{
        grid-column: 1 / -1;
        font-size: 1.5rem;
        padding: 1.5rem;
        background-color: $color-secondary;
        text-align: center;
        color: #fff;
        justify-self: center;
        width: 80%;
        grid-row: 1 / 2;
        z-index: 3;
        align-self: end;
        transform: translateY(50%);

    }
    &__location,
    &__rooms{
        margin-top: 2.5rem;
    }
    &__location,
    &__rooms,
    &__area,
    &__price{
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;

        svg{
            height: 3rem;
            width: 3rem;
            fill: $color-primary;
            margin-right: 1rem;
        }
        

        
    }
    button{
        grid-column: 1 / -1;
    }
}